# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.pdb
*.idb
*.log
*.lastbuildstate
*.ilk
*.exe.recipe

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

.vs/
JoshProjects/GraphicsProject/x64/Debug/JAGEngine.lib
vcpkg_installed/
*.dll
*.lib
*.iobj
*.ipdb